.cart-body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.hLink {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  font-size: 32px;
  font-family: cursive;
  padding: 6px;
  margin: 0px;
}

.slide-back-cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("../../assets/bg-texture.jpg");
  background-size: cover;
  padding: 2%;
  min-height: 100%;
  text-align: center;
  justify-content: center;
}

.cartheading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: lightgray;
}

.menu {
  display: block;
}

.menu-items {
  padding: 2px;
  margin: auto;
  width: 600px;
}

.menu-items h2 {
  text-align: center;
  color: lightgray;
  padding-top: 1%;
  padding-bottom: 4%;
  border-bottom: 1px gray solid;
}

.list-item {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px gray solid;
  color: white;
  padding: 1%;
}

.flex-list {
  display: flex;
}

.flex-name-desc {
  flex-grow: 0.9;
  text-align: left;
}

.flex-rate-quant {
  flex-grow: 0.1;
  text-align: center;
}

.Name {
  font-size: 24px;
  margin-bottom: 2%;
}

.Rs {
  display: inline;
}

.Desc {
  font-size: 14px;
}

#Total {
  display: inline;
  font-size: 24px;
  margin-top: 8px;
}

.btn-div {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
}

.btn-div button {
  background-color: black;
  padding: 10px;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 4px;
}

.btn-div button:hover {
  background-color: lightgray;
  color: black;
  margin-bottom: 10px;
  padding: 4px;
}

.btn-div button:active {
  background-color: gray;
  color: black;
}